<!DOCTYPE html>
<html ng-app="permissionsCalc">
    <head>
        <title>Discord Permissions Calculator</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="assets/css/main.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="og:title" content="Discord Permissions Calculator" />
        <meta name="og:type" content="website" />
        <meta name="og:description" content="A permissions calculator for Discord." />
        <meta name="description" content="A permissions calculator for Discord." />
        <meta name="author" content="FiniteReality" />

        <base href="/permissions-calculator/" />
    </head>
    <body theme theme-dark="grey-text text-lighten-4 theme-dark" theme-light="grey-text text-darken-2 theme-light">
        <header>
            <nav class="indigo lighten-2">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo hide-on-small-only">Discord Permissions Calculator</a>
                    <a href="#" class="brand-logo hide-on-med-and-up">Discord Permissions</a>
                    <a data-activates="nav-small" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-large" class="right hide-on-med-and-down">
                        <li><a class="dropdown-button" data-activates="theme-large">Theme<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                    <ul class="side-nav" id="nav-small">
                        <li><a class="subheader">Theme</a></li>
                        <li><a class="waves-effect" theme-set="Light">Light</a></li>
                        <li><a class="waves-effect" theme-set="Dark">Dark</a></li>
                    </ul>
                </div>
            </nav>
            <ul id="theme-large" class="dropdown-content">
                <li><a class="waves-effect grey-text text-darken-3" theme-set="Light">Light</a></li>
                <li><a class="waves-effect grey-text text-darken-3" theme-set="Dark">Dark</a></li>
            </ul>
        </header>
        <main>
            <section class="container" ng-controller="calc">
                <div class="row">
                    <h3>Calculated permissions: {{calculatePermissions()}}</h3>
                    <code ng-bind-template="{{calculatePermissions()}} = {{calculateExplanation()}}">0 = 0x0</code>
                </div>
                <div class="row">
                    <div class="col s12 m6 l4" ng-repeat="permscope in permissions">
                        <h5 ng-bind-template="{{permscope.name}} Permissions">Unknown Permissions</h5>
                        <input type="checkbox" class="filled-in" ng-model="permscope.active" ng-change="toggle(permscope)" id="auto_{{permscope.name}}"/> <label for="auto_{{permscope.name}}">Select Non-Administrative</label>
                        <ul>
                            <li ng-repeat="perm in permscope.permissions">
                                <input type="checkbox" class="filled-in" ng-model="perm.active" ng-change="disableActive(permscope)" id="role_{{perm.id}}"/> <label for="role_{{perm.id}}" ng-bind="perm.name" ng-class="{'amber-text': !perm.auto, 'text-darken-4': !perm.auto}">Permission</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                            Permissions highlighted in orange require that the bot owner has <a href="https://discordapp.com/developers/docs/topics/oauth2#twofactor-authentication-requirement">two factor authentication</a> enabled.
                        </p>
                        <p>
                            View Channel and Read Messages are synonymous; they are both the same permission.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h4>Invite a bot</h4>
                    <div class="col s12 m4 l3">
                        <div class="row">
                            <div class="col">
                                <input type="checkbox" class="filled-in" ng-model="bot.hasScope" id="has_scope"/> <label for="has_scope">Requires Scopes</label>
                            </div>
                            <div class="col">
                                <input type="checkbox" class="filled-in" ng-model="bot.hasCode" id="has_code"/> <label for="has_code">Requires Code</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="1234567890" type="text" id="bot_id" pattern="[0-9]+" class="validate" ng-model="bot.id" ng-trim="false" required/>
                                <label for="bot_id" data-error="You must input a valid bot ID">Client ID</label>
                            </div>
                        </div>
                        <div class="row" ng-show="bot.hasScope">
                            <div class="input-field col s12">
                                <input placeholder="bot,identify" type="text" id="bot_scope" pattern="(?:[\w.]+,?)+" class="validate" ng-model="bot.scope" ng-trim="false" required/>
                                <label for="bot_scope" data-error="You must input a comma-separated list of scopes">Scopes</label>
                            </div>
                        </div>
                        <div class="row centered">
                            <div class="col">
                                <a class="waves-effect waves-light btn indigo lighten-2" ng-href="{{generateInvite('discord', bot, calculatePermissions())}}">Add</a>
                            </div>
                            <div class="col">
                                <!-- JS has terrible clipboard support. -->
                                <a class="waves-effect waves-light btn indigo lighten-2 tooltipped" ng-href="{{generateInvite('embed', bot, calculatePermissions())}}" data-tooltip="Right-click to copy">Embed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="page-footer indigo lighten-2">
            <div class="container">
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2017+ FiniteReality - This tool is not official.
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <!-- apparently I should use react instead of angular? hell no, react is ugly. -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/themes.js"></script>
        <script type="text/javascript" src="assets/js/permissions.js"></script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83441648-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
