# This file exists only for GitHub's dependencies list
# https://github.com/fixator10/Fixator10-Cogs/network/dependencies
# It may be slightly outdated
# Look at "requirements" key for specific cog in "info.json" fileRed-DiscordBot
beautifulsoup4
fonttools
git+https://github.com/fixator10/F10-Cogs-Utils
mcstatus>=5.1.1
motor>=2.5,<4.0
pillow>=6
pillow>=6.2.1
pybase64
pymongo>=3.10,<3.12.3
python-dateutil
python-forecastio
python-valve
tabulate
wcwidth