name: Auto approve

on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
    - uses: hmarr/auto-approve-action@v2
      if: ${{ github.actor == 'dependabot[bot]' || github.actor == 'pre-commit-ci[bot]' || github.actor == 'github-actions[bot]' }}
      with:
        github-token: "${{ secrets.REVIEW_TOKEN }}"
