name: black

on: [push, pull_request]


jobs:
  mypy:
    name: Style Check with Black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - run: "python -m pip install black"
        name: Install black
      - run: "python -m black -l 99 --check --diff ."
        name: Style checking with black

# thanks sinbad & jack
